	<footer class="footer">
		<a href="https://www.instagram.com/rebeltakeover/">
			<div class="footer-items" id="social-media">
				<h5 class="footer-text">
					Follow Us
				</h5>
				<img src="https://s3.amazonaws.com/artprojectdarius/art-main-section/insta.jpg">
			</div>
		</a>
		<div class="footer-items">
			<form  class='sign-up' action="/" method="POST" name="signup" onsubmit="addEmail()" >
				<h5 class="footer-text"> Email List for Upcoming Merchandise and Art</h5>
				<input class="email-input" type="text" name="email" placeholder="Email">
				<input class="email-input" type="text" name="name" placeholder="First Name">
			</form>
		</div>
		<div class="footer-items">
			<h5 class="footer-text"> Get in Touch </h5>
			<h4 class="footer-text"> [ DariusVialva@gmail.com ]</h4>
		</div>
	</footer>
	<div id="credits">
		<div class="created-by">Designed By Adrian and Darius</div>
		<div class="created-by">Developed by Adrian</div>
	</div>
	<script src="./main.js"></script>
</body>
</html>