<!DOCTYPE html>
<html>
<head>
	<title>
		Cheeze 
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,intial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="style/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
	

</head>
<body>

	<nav class="main-nav">
		<div id="header-container">
			<img src="https://cdn.discordapp.com/attachments/380250537419079691/380251756967362560/unknown.png" class="nav-logo">
			<ul class="nav-list">

				<a href="/"><li class="nav-item">The Art</li></a>
				<a href="/about"><li class="nav-item">The Artist</li></a>
			</ul>  
		</div>
	</nav>

	<hr class="divide">