* {
	box-sizing: border-box;
	background-color: #F9F9F9;
}

body {
	width: 100%; 
	height: 100%;
  	/*background: linear-gradient( rgb(211,211,211), rgb(72,72,72) 20%, rgb(245,245,245));*/
	background: linear-gradient( 180deg, rgb(130,130,130), rgb(185,185,185) 8%,rgb(245,245,245) 16% );
}

a {
	color: inherit;
}

/********* NAVIGATION ***********/


nav.main-nav {
	width: 70%;
	margin-left: 15%;
	margin-top: 1em;
	margin-bottom: .5em;
	display: block;
	clear: both;
	background-color: inherit;
}


img.nav-logo {
	max-width: 6.5em;
	max-height: 5.5em;
	display: inline;
	margin-left: 4em;
	margin-top: 1em;

	background: inherit;

}

ul.nav-list {
	padding-left: 14.5%;
	margin-bottom: 1.5em;
	width: 65%;
	display: inline;
	margin-bottom: 0;
	background-color: inherit;
}

li.nav-item:hover {
	color: rgb(225,225,225);
}



li.nav-item {
	margin-left: 2em;
	margin-right: 2em;
	padding-bottom: 0em;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Libre Barcode 39 Text', cursive;
	background-color: inherit;

}

hr.divide {
	width: 70%;
	margin: 0 auto;
	color: 	#D4AF37;
}


/************ KNIVES *****************/

img.knife-left {
	top: 18em;
	max-width: 11%;
	position: relative;
	float: left;
	height: 45em;
	z-index: 1;
	margin-left: 1%;
	opacity: 0.02;
}

/*
img.knife-left {
	top: 2em;
	max-width: 50%;
	position: relative;
	float: left;
	height: 11%;
	z-index: 1;
	margin-left: 1%;
	opacity: 0.02;
}*/

img.knife-right {
	top: 14.5em;
	max-width: 11%;
	position: relative;
	float: right;
	height: 45em;
	z-index: 1;
	margin-right: 1%;
	opacity: 0.02;
	
}

/*ORIGINIAL LEFT REVEAL*/

img.knife-left-reveal {
	top: 18em;
	max-width: 11%;
	position: relative;
	float: left;
	height: 45em;
	z-index: 1;
	margin-left: 1%;
	opacity: 0.55;
	animation-name: fadeKnife;
	animation-duration: 800ms;
	animation-duration: ease-in;
	transform: rotate(10deg);
}

/*MADE MISTAKE WAS SUPPOSED TO BE RIGHT KNIFE , BUT USED LEFT KNIFE WAS NOW CHANGE TO RIGHT*/
img.knife-right-reveal {
	top: 4.5em;
	height: 50em;
	width: 20em;
	position: relative;
	margin: 0 40.5%;
	z-index: 1;
	margin-top: 1%;
	opacity: 0.55;
	animation-name: fadeKnife;
	animation-duration: 800ms;
	animation-duration: ease-in;
	transform: rotate(10deg);
}

/*img.knife-left-reveal {
	top: 4.5em;
	height: 50em;
	width: 20em;
	position: relative;
	float: right;
	height: 45em;
	z-index: 1;
	margin: 0 45%;
	opacity: 0.55;
	animation-name: fadeKnife;
	animation-duration: 800ms;
	animation-duration: ease-in;
	transform: rotate(-75deg);
}
*/

/****************** ART SECTION ************************/

div.main-section {
	color: #C1C1C1;
	width: 40%;
	margin: 2.5em 4.5% 2.5em 4.5%;
	display: inline-block;
	background-color: inherit;
}

section.art-section {
	margin-top: 2em; 
	background-color: inherit;
	position: relative;
}
	
div.thumbnail-container {
	width: 100%;
	margin: 0% 25%;
	display: inline-block;
	animation-timing-function: ease-out;
	animation-name: fadeIn;
	animation-duration: 2700ms;
	background-color: inherit;
	
}

div.thumbnail {
	width: 9em;
	padding: 0.1em;
	width: 30%;
	max-height: 9em;
	min-height: 9em;
	display: inline-block;
	background-color: inherit;
	border: .1em solid #ddd;
	margin: 2.5em 8%;
}

 

div.thumbnail > img {
	display: block;
	width: 100%;
	height: 11.5em;
}

div.thumbnail:hover {
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0;
	opacity: 0.5;
	cursor: pointer;
}

div.show-title {
	display: inline-block;
	margin: .9em 10% 0 25%;
	min-height: 2.5em;
	width: 100%;
	align-content: center;
	background: inherit;
}
/*
div.hide-title {
	display: inline-block;
	margin: 1.7em 40%;
	max-height: 2em;
}*/

span.caption {
	background: inherit;
	font-family: serif;
	font-size: 1.25em;
	color: rgb(110,110,110);
}

span.date-drawn {
	display: block;
	background: inherit;
	font-family: 'Comfortaa', sans-serif;
	color: 	#D4AF37;
}


/******************* ABOUT SECTION *******************/



section.about-section {
	margin-top: 7em; 
	background-color: inherit;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}



img.collage-pic {
	height: 30em;
	width: 50em;
	margin-left: 12.5%

}

img.apparel-coming {
	height: 20em; 
	width: 50em;
	margin-left: 12.5%;
}

h1.lead-title {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	background-color: inherit;
}

p.about-description {
	width: 50%;
	margin-left: 25%;
	background-color: inherit;
	margin-bottom: 3.5em;
	line-height: 1.2em;
	font-family: sans-serif;
}


/******************* CONFIRM EMAIL /*******************
/* ADD DARK BACKGROUND WITH BLACK TEXT WITH TEXT CENTER, AND POSSIBLY IMAGE FROM THE EMAIL ABOVE THE TEMPLATE */

div.confirm-email {
	padding: 10px; 
	width: 50%;
	margin: 7em 25%;
	background-color: rgb(100,100,100);
	border-radius: .5em;
}

p.lead {
	background-color: inherit;
	color: rgb(245,245,245);
	text-align: center;
	font-weight: bold;
}

img.before-conf {
	width: 50%;
	margin: 1.5em 25%;
}


/******************* CONTACT /*******************/

form#contact_form {
	background-color: rgb(235,235,235); 
	color: rgb(35,35,35);
	text-align: center;

	border-radius: .25em;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0;
	margin: 7.5em 25%;

}

.form-title {
	color: rgb(50,50,50);
	background-color: inherit;
	padding: 1.1em .25em 0em .25em;
	font-size: 1.4em;
}

div.row {
	background-color: inherit;
	padding-top: 1em;
	display: block;
}

div.row label.required {
	padding: 1em;
	background-color: inherit;
	font-size: .8em;
}

/******************************** FOOTER ********************************/

footer.footer {
	clear: both;
	display: block;	
	width: 80%;
	margin: 3em auto 2em;
	position: relative;
	/*background: linear-gradient(45deg, rgb(245,245,245), rgb(55,55,55) ); */
	background: linear-gradient(0deg,rgb(55,55,55) , rgb(175,175,175));
	min-height: 22.5em;
	max-height: 25em;
	border-radius: 1em;
	padding: 2em 4%;
}

footer div.footer-items {
	width: 29%;
	height: 15em;
	vertical-align: middle;
	/*border: black solid .5em;*/
	display: inline-block;
	background-color: inherit;
	margin-right: 1.5%;
	margin-left: 1.5%;
	height: 400px;
	vertical-align: top;
	position: absolute;
	top: 10%;
}

div#social-media {
	margin: auto;
	top: 37%;
	vertical-align: top;
	left: 9%;
}

div#sign-up {
	left: 34%;
}

div#site-map {
	left: 70%; 
	top: 25%;
}

i {
    background:transparent;
    padding: .6em;
}

.footer-text {
	font-family: 'Comfortaa', sans-serif;
	font-size: 1em;
	font-weight: bold; 
	background-color: inherit;
	color: rgb(255,255,255);
}

ul.site-links {
	background-color: inherit;
	padding-top: 2em;
}

ul.site-links li {
	line-height: 2em;
	text-decoration: none;
}

ul.site-links a {
	text-decoration: none;
}

h5.footer-text {
	margin-top: 0;
	padding-top: .5em;
}

form.sign-up {
	background-color: rgb(235,235,235); 
	color: rgb(35,35,35);
	text-align: center;
	margin-bottom: 1em;
	border-radius: .25em;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0;
}

form.sign-up input {
	margin: 0.5em auto;
	color: rgb(35,35,35);
}

h5#form-header {
	color: rgb(50,50,50);
	background-color: inherit;
	padding: 1.1em .25em 0em .25em;
	font-size: 1.4em;

}

input#submit { 
	background-color: rgb(35,35,35);
    border: none;
    border-radius: .2em;
    color: rgb(235,235,235);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input#submit:hover {
	cursor: pointer;
	color: rgb(235,235,235);
	background-color: rgb(35,35,35);
}

div#credits {
	float: left;
	border-radius: 1.5em;
	background-color: inherit;
}

div.created-by {
	margin-left: 45%;
	text-align: center;
	padding: .24em .5em;
	background-color: inherit;	
	font-size: 1.25em;
	font-family: 'Comfortaa', sans-serif;
}

/******************* ANIMATIONS AND TRANSITIONS *******************/

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
 }

@keyframes fadeKnife {
  from {
    opacity: 0.02;
  }
  to {
    opacity: 0.55;
  }
 }


@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}


/******************* MEDIA QUERIES *******************/

@media (min-width: 300px) and (max-width: 450px) {
	body {
		background: linear-gradient( 180deg, rgb(130,130,130), rgb(185,185,185) 3%,rgb(245,245,245) 8% );
	}

	section.art-section {
		margin-top: -2em;
	}

	ul.nav-list > a {
		text-decoration: none;
	}

	li.nav-item {
		padding-top: 1.5em;
		margin-left: 24%;
		display: block;
	}

	footer.footer {
		width: 100%;
	}
	div.thumbnail {
		width: 90%;
		margin: 2em 2%;
	}

	div.show-title {
		margin-bottom: 4em;
	}

	footer.footer {
		min-height: 44em;

	}

	footer div.footer-items {
		display: block;
		top: auto;
		width: 100%;
		padding: .25em;
	}

	div#social-media ,
	div#site-map ,
	div#sign-up {
		left: -1.5%;
	}

	div#social-media {
		width: 50%;
		margin-left: 36%;
		padding: 1em;
		top: 5%;
	}

	div#sign-up {
		top: 23%;
	}

	div#site-map {
		top: 69%;
	}
	ul.site-links {
		margin-left: 19%;

	}

	input.email-input, ul.site-links, img.nav-logo {
		margin-left: 25%;
	}

	img.knife-right-reveal {
		transform: rotate(-76deg); 
		width: 32%;
		height: 19em;
		margin: 0 34%;


	}
	img.knife-left-reveal {
		transform: rotate(90deg);
		float: bottom;
		width: 100%;
		margin: 0 34%;
	}
}