<% include partials/header %>

	<section class="about-section">
		<img src="https://s3.amazonaws.com/artprojectdarius/IMG_9127.jpg" class="collage-pic">
		
		<h1 class="lead-title">
			Meet Darius 
		</h1>

		<p class="about-description">
			An unorthodox kind of artist. Finding and depicticing beauty in things most people wouldn't consider artistic. Like a rose growing out of the cracks of the conrete we revel in beauty that arises in the most unconventional artist. A Brooklyn artist viewing the world through his own lens.
		</p>

		<img src="https://s3.amazonaws.com/artprojectdarius/IMG_6938.JPG" class="apparel-coming">

		<h1 class="lead-title">
			Apparel Coming Soon
		</h1>
	</section>
	
<% include partials/footer %>