<% include partials/header %>

<img src="">
<div class="confirm-email">
	<p class="lead"> Welcome <%= user.name %> </p>
	<p class="lead">	We sent a confirmation email to <%= user.email %> </p>
	<p class="lead"> Our first 1000 subscribers get a coupon code for 20% future merch and art</p>
</div>

<% include partials/footer %>